<tr>
  <td>
    <%= product.name %>
  </td>
  <td>
    <%= l product.start_time, format: :datetime if product.start_time %>
  </td>
  <td>
    <%= l product.end_time, format: :datetime if product.end_time %>
  </td>
  <td>
    <%= product.price %>
  </td>
  <td>
    <%= translate_status(product.status) %>
  </td>
  <td>
    <%= link_to "Detail", product_path(product), class: 'btn btn-primary' %>
    <%= link_to "Edit", edit_product_path(product), class: 'btn btn-primary' %>
    <%= link_to "Delete", product_path(product), method: :delete, data: {confirm: "Are you sure you want to delete the product?"},
    class: 'btn btn-primary' %>
    <% if product.status == STATUS[:to_bid] %>
      <%= link_to "Show To Market Place", show_to_market_place_path(product), class: 'btn btn-primary' %>
    <% end %>
  </td>
</tr>
